/*   
Styles for 
	Daily Digest Email

Author: Tim Keaton
*/


@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);

body {
	background-color: rgb(238,238,238);
	font-family: Open Sans;
	margin: 0;
}


/* begin Header area ------------------*/
h1 {
/* 	background-color: black; */
/* 	color: white; */
	margin-bottom: 0;
	margin-top: 0;
}

#title, #date {
	white-space: nowrap;
	margin-top: -20px;
}

#date {
	color: grey;
/* 	font-size: medium; */
}

#logo {
	border-right-style: groove;
	border-right-width: 7px;
	height: 120px;
	vertical-align: middle;
	margin-right: 15px;
}
/* end Header area ------------------*/


#main-body {
	width: 90%;
	margin: auto;
	margin-top: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: rgb(255,255,255);
}

#recent-posts {
	display: inline-block;
	width: 95%;
	padding: 10px;
}

ul {
	list-style-type: square;
	margin: 0;
}

a:link {
	color: #08c;
}

/* begin Favorite Categories box ------------------*/
#favorite-cats {
	display: inline-block; 
	width: 35%; 
/* 	min-width: 225px; */
/* 	border-style: inset;  */
	padding: 10px; 
	vertical-align: top; 
	margin-left: 10px;
	background-color: #faf6ea;
}

.cat-green, .cat-red, .cat-purple, .cat-blue, .cat-yellow, .cat-grey {
	padding: 3px;
  	padding-left: 10px;
	/* font-weight: bold; */
}

.cat-green {
	color: white;
	background-color: #35aa47;
}

.cat-red {
	color: white;  
	background-color: #d84a38;
}

.cat-purple {
	color: white; 
	background-color: #852b99;
}

.cat-blue {
	color: white;  	
	background-color: #4d90fe;
}

.cat-yellow {
	color: white; 
	background-color: #ffb848;
}

.cat-grey {
	color: black; 
	background-color: #e5e5e5;
}
/* end Favorite Categories box ------------------*/

#lower{
	display: block;
	padding: 10px;
}

#footer{
	text-align: center;
	/* color: rgb(238,238,238); */
	color: grey;
	margin-top: 15px;
	font-size: 14px;
}


@media (max-width: 430px) {
	#logo {
		border: none;
		margin-bottom: -20px;
	}
	#title, #date {
		padding-left: 25px;
	}
	h1 {
		padding-bottom: 20px;
		
	}
}
@media (max-width: 1120px) {
	#recent-posts, #favorite-cats {
		width: 90% !important;
	}
}